
.white{
  color: #fff !important;
}

.count{
  padding: 0px 8px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 6px;
    font-size: 14px;
}

.navbar-brand{
  font-size: 18px;
  font-style: oblique;
  font-weight: 600;
  color: #78a206 !important;
}

.cart{
  cursor: pointer;
  margin-right: 1rem;
}

.userName{
  margin-right: 1.2rem;
  font-weight: 100;
}

.flex{
  display: inline-flex;
}

.nav-right{
  margin-bottom: 4px;
}
