<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-bag-shopping"></i> Shopping Mart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: start;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link white" aria-current="page" href="/products">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/Electronics">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/Clothes">Clothes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/Shoes">Shoes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/Miscellaneous">Others</a>
        </li>
      </ul>
    </div>
    <div class="nav-bar">
      <ul class="nav-right">
        <li class="nav-item flex">
          <span class="white userName">dk6089567@gmail.com</span>
        </li>
        <li class="nav-item cart flex">
          <span class="nav-link white">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="count white ml-2">2</span>
          </span>
        </li>
        <li class="nav-item flex">
          <div class="logout">
            <button class="btn btn-secondary" style="font-size: 14px;">
              <i class="fa fa-user"></i> Logout
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
