
<div class="container" *ngIf="ShowPrice else EmptyKart">
    <div class="row">
        <div class="col-md-12">
            <div class="Main-Data">
                <h5>The total cost of the Items is <b>₹{{finalPrice}}/-</b>,
                  Please <a href="javascript:void(0)" (click)="PaymentMethod()">Click here</a> to Proceed</h5>
            </div>
              <div>
                <button (click)="shootConfetti()">Shoot Confetti</button>
              </div>
        </div>
    </div>
</div>


<ng-template #EmptyKart>
  <div class="row">
      <div class="col-md-12">
          <div class="Main-Data">
              <h2>Please add Some thing to the Cart & Check Again!</h2>
          </div>
      </div>
  </div>
</ng-template>
